/* .introducing */
.introducing {
  padding-top: 56px;
  @media (max-width: $md3+'px') {
    padding-top: 40px;
  }
  /* .introducing-header */
  &-header {
    margin-top: 8px;
    /* .introducing-header__title */
    &__title {
      font-size: 52px;
      line-height: 67px;
      @media (max-width: $md3+'px') {
        font-size: 48px;
        line-height: 54px;
      }
      @media (max-width: $md4+'px') {
        font-size: 42px;
        line-height: 46px;
      }
    }
    /* .introducing-header__descr */
    &__descr {
      max-width: 382px;
    }
  }
  /* .introducing-slider */
  &-slider {
    position: relative;
    max-height: 566px;
    width: 100%;
    margin-top: 33px;
    z-index: 0;
    /* .introducing-slider */
    &__item {
      img {
        width: 100%;
      }
    }
    /* Точки (булиты) */
    .slick-dots {
      display: flex;
      position: absolute;
      bottom: 37px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 0;
      @media (max-width: $md4+'px') {
        bottom: 20px;
      }
    }
    .slick-dots li {
      width: 16px;
      height: 4px;
      background: rgba(#fff, 0.5);
      margin-right: 4px;
      transition: all .3s ease 0s;
    }
    /* Активная точка */
    .slick-dots li.slick-active {
      width: 40px;
      background-color: $active;
    }
  }
}