// Миксин для шрифтов ================================================
@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"),
    url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
} 
// Цвета по умолчанию ================================================
$active: #FF5722;
$dark: #222831;
// Шрифт по умолчанию ================================================
$fontFamily: 'Lato', sans-serif;
// Переменные ========================================================
$minWidth: 320px;
$maxWidth: 1400;
$maxWidthContainer: 1140;
$md1: $maxWidthContainer+12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
// Оболочка ==========================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
// Основная сетка ====================================================
._container {
  max-width: $maxWidthContainer+px;
  margin: 0 auto;
  height: 100%;
  padding: 0 15px;
}
// Подключение глобальных стилей
@import "global";
// Подключение шрифтов
@import "fonts";

// Подключение стилей блоков
@import "header";
@import "introducing";
@import "spaces";